<div class="container container-small">
   <div class="row" style="margin-top:100px;">
      <a class="btn btn-default float-right" href="#" onclick="history.back(-1)"style="margin-bottom:10px;">
         <i class="fa fa-arrow-left"></i> </a>
      
            <div class="form-group">
            <label for="SupplierName"></label>
            <input type="text" maxlength="50" Required name="name" value="">
           </div>
           <div class="form-group">
            <label for="SupplierPhone"></label>
            <input type="text" name="phone" maxlength="30" value="">
           </div>
           <div class="form-group">
            <label for="SupplierEmail"></label>
            <input type="email" maxlength="50" name="email" value="">
           </div>
           <div class="form-group">
           <label for="Note"></label>
           <textarea id="summernote" name="note"></textarea>
          </div>
      </div>
      <div class="form-group">
       <button type="submit" class="btn btn-add"></button>
      </div>
      
</div>
